#film {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.film-title {
  margin-bottom: 4rem;
  color: var(--accent-color);
  font-size: var(--text-xxxl);
}

.film-panels {
  display: grid;
  margin: 0;
  gap: 4rem;
}

.film-panel {
  height: 15rem;
  position: relative;
}

.film-panel-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}

.film-panel-images {
  width: 100%;
  height: 100%;
}

.film-panel-images .film-hover-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.film-panel-images:hover .film-hover-fade {
  opacity: 0.8;
}

.film-panel-title {
  position: absolute;
  color: var(--text-accent);
  font-size: var(--text-xl);
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.film-panel:hover .film-panel-title {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.film-panel-image {
  width: calc(100% / 3);
  height: 15rem;
  object-fit: cover;
  object-position: center center;
}



@media screen and (max-width: 59.9rem) {
  
  .film-container {
    margin: 0 5%;
  }
  
  .film-panels {
    gap: 3rem;
  }
  
  .film-panel-title {
    font-size: var(--text-l);
  }

  .film-panel-image {
    width: calc(100% / 3);
    height: 15rem;
    object-fit: cover;
    object-position: center center;
  }


  
}