.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.home-profile-image {
  position: absolute;
  left: calc(50% + 10rem);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 25rem;
  height: 25rem;
  border: 2px solid var(--highlight-color);
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  background: linear-gradient(to right, #100f0f, #11100d) 0 0/100% 100% no-repeat;
  overflow: hidden;
  animation: morph 10s linear infinite alternate;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

.home-profile-image img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center bottom;
  z-index: 0;
}

.home-titles {
  margin: 10rem 0 5rem 0;
  text-align: left;
  width: 60rem;
  z-index: 1;
}

.home-title {
  color: var(--accent-color);
  font-size: var(--text-xxxxl);
}

.home-subtitle {
  color: var(--text-highlight);
  font-size: var(--text-xxl);
  letter-spacing: 0.2rem;
}

.home-content {
  text-align: left;
  width: 60rem;
}

.home-text {
  font-size: var(--text-r);
  color: var(--text-soft);
  margin: 2rem 0;
}

.home-links {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.home-links a {
  position: relative;
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  padding: 0 2rem;
  color: var(--text-button-hover);
  font-weight: bold;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(115, 115, 115, 0.5);
}

.home-links a::before {
  content: '';
  width: 10rem;
  height: 3rem;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 0.3rem;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.home-links a:hover::before {
  transform: scale(1);
}

.home-links a span {
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.home-links a:hover span {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
