header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 5px solid var(--accent-color);
  overflow: hidden;
  background-color: var(--background-main);
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
}

.nav-logo img {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}

.nav-title {
  font-family: var(--font-secondary);
  letter-spacing: 1rem;
}

.nav-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-r);
  letter-spacing: 0.2rem;
}

.header-bottom {
  position: absolute;
  left: 10rem;
  bottom: 2rem;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-text {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-link {
  color: var(--text-button);
  letter-spacing: 0.2rem;
  border: none;
  background: none;
  font-size: var(--text-l);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  color: var(--text-button-hover);
}

.nav-menu span {
  font-size: var(--text-xl);
  color: var(--text-soft);
}

@media screen and (max-width: 59.9rem) {
  
  .header-container {
    margin: 0 5%;
  }

  .nav-logo img {
    width: 4rem;
    height: 4rem;
  }

  .nav-title {
    font-size: var(--text-l);
    letter-spacing: 0.5rem;
  }

  .nav-subtitle {
    font-size: var(--text-s);
    letter-spacing: 0.1rem;
  }

  .header-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
  }

  .nav-menu {
    gap: 1rem;
  }

  .nav-link {
    font-size: var(--text-l);
  }

  .nav-menu span {
    font-size: var(--text-l);
  }
  
}