header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: 5px solid var(--accent-color);
  overflow: hidden;
  background-color: #1a1816;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  width: 60rem;
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-logo {
  cursor: pointer;
}

.nav-logo img {
  width: 7rem;
  height: 7rem;
  margin-right: 2rem;
}

.nav-title {
  font-size: var(--text-xxl);
  font-family: var(--font-secondary);
  letter-spacing: 1rem;
}

.nav-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-r);
  letter-spacing: 0.2rem;
}

.header-bottom {
  position: absolute;
  left: 56%;
  transform: translateX(-50%);
  bottom: 2rem;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-text {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-link {
  color: var(--link-button);
  letter-spacing: 0.2rem;
  border: none;
  background: none;
  font-size: var(--text-l);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  color: var(--link-button-hover);
}

.nav-menu span {
  font-size: var(--text-xl);
  color: var(--text-soft);
}

@media screen and (max-width: 1023px) {

  .header-container {
    width: 55rem;
  }

  .header-top {
    justify-content: center;
  }

  .nav-title {
    font-size: 2.4rem;
  }

  .nav-subtitle {
    
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .nav-logo img {
    width: 4.5rem;
    height: 4.5rem;
  }

  .header-bottom {
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-menu {
    gap: 2.3rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .nav-menu span {
    font-size: var(--text-s);
  }

}

@media screen and (max-width: 599px) {
  
  .header-container {
    width: 100%;
    margin: 0 5%;
    height: 10rem;
    align-items: center;
  }

  .header-top {
    justify-content: center;
  }

  .nav-logo img {
    width: 3rem;
    height: 3rem;
  }

  .nav-title {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  .nav-subtitle {
    
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  .header-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-menu {
    gap: 0.8rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .nav-menu span {
    font-size: var(--text-s);
  }
  
}