#comms-video {
  padding-top: 10rem;
  height: 72rem;
  display: flex;
  justify-content: center;
}

.comms-video-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60rem;
}

.comms-video-player {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--background-main);
}

.comms-video-title {
  font-size: var(--text-xl);
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 2rem;
}

.comms-video-description {
  font-size: var(--text-s);
  font-weight: 400;
  color: var(--text-soft);
  margin-bottom: 4rem;
}

.comms-video-container button {
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;
  font-size: var(--text-l);
  color: var(--text-button);
}

.comms-video-container button:hover {
  color: var(--text-button-hover);
}

@media screen and (max-width: 1023px) {
  
  #comms-video {
    height: 100%;
  }

  .comms-video-container {
    width: 55rem;
  }
    
}

@media screen and (max-width: 599px) {
  
  #comms-video {
    height: 100%;
    padding-top: 0rem;
    margin: 0 5%;
  }

  .comms-video-container {
    width: 100%;
    height: 100%;
  }
    
}
  
